<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Webapp_3rdYear</display-name>
  <welcome-file-list>
    <welcome-file>view/admin/accounts.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>jsp</servlet-name>
    <servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
    <init-param>
      <param-name>mappedfile</param-name>
      <param-value>false</param-value>
    </init-param>
  </servlet>
  <filter>
    <filter-name>sitemesh</filter-name>
    <filter-class>
			org.sitemesh.config.ConfigurableSiteMeshFilter
		</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>sitemesh</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>DetailsProductController</display-name>
    <servlet-name>DetailsProductController</servlet-name>
    <servlet-class>com.webapp3rdyear.controller.DetailsProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailsProductController</servlet-name>
    <url-pattern>/DetailsProductController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadController</display-name>
    <servlet-name>DownloadController</servlet-name>
    <servlet-class>com.webapp3rdyear.controller.DownloadController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadController</servlet-name>
    <url-pattern>/DownloadController</url-pattern>
  </servlet-mapping>
</web-app>